body {
    background-color: rgb(193, 221, 245);
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.qr-container{
    background-color: rgb(43, 115, 230);
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
}

#qrImage{
    border: none;
    background-color: rgb(43, 115, 230);
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 300px;
    text-align: center;
}

.card h1{
    font-size: 20px;
    padding: 15px;
}

.card p{
    text-align: center;
    color: grey;
    margin: 15px;
}